node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
scr/hooks/useLocation.js
scr/context/TrackContex.js
scr/context/LocationContext.js
scr/hooks/useSaveTrack.js
